.homeBody {
    background-image: url('../images/classicBLK.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.navbar-header a{
    color: white;
    line-height: 2;
    font-family: cursive;
    font-size: 30px;
    margin-left: 5px;
}

li a {
    color: #C5BDBD !important;
    font-weight: bold;
}

li a:hover {
    color: white !important;
}

.page-heading {
    text-align: center;
}

label {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}

.active {
    color: black;
}